name: nightly

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 21 * * 5'

jobs:
  protect_branches:
    name: 'Run Protected Branches'
    runs-on: ubuntu-latest

    steps:
    - name: 'Checkout'
      uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Code
      run: |
        python automate-branch-rules.py -o $ORG -r $REPO -p $PAT -e $EXEC
      env:
        ORG: gluwa
        REPO: prometheus-config
        PAT: ${{ secrets.pat }}
        EXEC: O
